* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 2vw;
}

img {
    border: orangered solid 2px;
}

li {
    list-style: none;
}

body {
    border: black 1px solid;
}

/* header */

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;
}

.menu ul li {
    display: inline;
}

main {
    display: flex;
    align-content: stretch;
}

aside {    
    border-right: black 1px solid;
}

aside ul {
    padding: 3vw 2vw;
}

div {
    padding: 3vw 2vw;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
}

div section {
    display: flex;
    justify-content: space-evenly;
}

div section img {
    display: block;
    width: 20%;
}

div section p {
    display: block;
    width: 70%;
}
