/*
Border bottom al nav para dividir la sección
Cambiar todas las fuentes a Calibri
Eliminar bullets de los li
La fuente de los títulos de color rojo, alineados  al centro y 24px
La fuente del párrafo en gris y 16px
Border a todo el formulario
 */
* {
}

h1, h2 {
    color: red;
    text-align: center;
    font-size: 24px;
}

header nav {
    border-bottom: 1px double blue;
    height: 80px;
}

nav img {
    float: left;
}

nav ul {
    float: right;
}

p {
    color: gray;
    font-size: 16px;
}

.article {
    display: flex;
    justify-content: space-between;
}

article {
    display: inline-block;
    width: 50%;
    box-sizing: content-box;
}

li {
    list-style: none;
}

.form {
    border: 2px dotted green;
    width: 500px;
}

form {
    width: 700px;
    border: 2px solid black;
}
